<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="d-flex flex-column  align-items-center justify-content-center container " style=" margin-top: 130px; ">
        <div class="container d-flex flex-column  bg-secondary p-3 rounded " style=" margin-top: 66px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705); max-width: 400px;">
            <form class="d-flex flex-column" action="/admin/home" method="GET">
                <% if(message){ %> 
                    <h2 class="text-center text-success"> <%= message %>  </h2>
                <% }else{  %> 
                    <h2 class="text-center text-success">Success!</h2>
                <% } %> 
                <button class="btn btn-primary ">Back to ADMIN page!</button>
            </form>
        </div>
    </div>
</body>
</html>